# These are required to run the tests.
nose
mock
fabric
Jinja2==2.5.5
Django==1.2.5
-e git+git://github.com/jbalogh/test-utils.git#egg=test-utils
-e git+git://github.com/jbalogh/django-nose.git#egg=django-nose
-e git+git://github.com/jbalogh/jingo.git#egg=jingo
