{% load waffle_tags %}
{% flag flag %}
  flag on
{% else %}
  flag off
{% endflag %}


{% switch switch %}
  switch on
{% else %}
  switch off
{% endswitch %}


{% sample sample %}
  sample on
{% else %}
  sample off
{% endsample %}


{% flag flag_var %}
  flag_var on
{% else %}
  flag_var off
{% endflag %}


{% switch switch_var %}
  switch_var on
{% else %}
  switch_var off
{% endswitch %}


{% sample sample_var %}
  sample_var on
{% else %}
  sample_var off
{% endsample %}

{% flag_is_active "flag" request True as is_flag_active %}
{% if is_flag_active %}
  flag_is_active on
{% else %}
  flag_is_active off
{% endif %}

{% if "switch"|switch_is_active %}
  switch_is_active on
{% else %}
  switch_is_active off
{% endif %}

{% if "sample"|sample_is_active %}
  sample_is_active on
{% else %}
  sample_is_active off
{% endif %}

{% wafflejs %}
