{% load waffle_tags %}
{% flag flag %}
  flag on
{% else %}
  flag off
{% endflag %}


{% switch switch %}
  switch on
{% else %}
  switch off
{% endswitch %}


{% sample sample %}
  sample on
{% else %}
  sample off
{% endsample %}


{% flag flag_var %}
  flag_var on
{% else %}
  flag_var off
{% endflag %}


{% switch switch_var %}
  switch_var on
{% else %}
  switch_var off
{% endswitch %}


{% sample sample_var %}
  sample_var on
{% else %}
  sample_var off
{% endsample %}

{% if "flag"|flag:request %}
  flag filter on
{% else %}
  flag filter off
{% endif %}

{% if "switch"|switch %}
  switch filter on
{% else %}
  switch filter off
{% endif %}

{% if "sample"|sample %}
  sample filter on
{% else %}
  sample filter off
{% endif %}

{% if flag_var|flag:request %}
  flag_var filter on
{% else %}
  flag_var filter off
{% endif %}

{% if switch_var|switch %}
  switch_var filter on
{% else %}
  switch_var filter off
{% endif %}

{% if sample_var|sample %}
  sample_var filter on
{% else %}
  sample_var filter off
{% endif %}

{% wafflejs %}
